html,body#viz{
	height: 100%;
	width: 100%;
	background-image:url('../img/logo.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
}
#chequeado-map{
	height: 100%;
	width: 100%;
}

#button-container{
	display: none;
	position: absolute;
	z-index: 1000;
	left: 85px;
	bottom: 10px;
}

#loader-container{
	position: absolute;
	z-index: 1000;
	left: 0;
	bottom: 50px;
	display: block;
	text-align: center;
	width: 100%;
}

#credits {
	z-index: 999999;
}

textarea {
	height: 500px !important;
}
